.edit-container{
    display: flex;
    justify-content: center;
}

.formulario {
    width: 20rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.1rem;
    box-shadow: -1px 5px 7px 0px rgba(0,0,0,0.63);
}


.tituloAdicionaFilme {
    margin-top: 2rem;
    margin-bottom: 0.5rem;

    font-size: 1.2rem;
}

.inputUser{
    width: 15rem;
    height: 2rem;
    margin-top: 1.2rem;
    border: 0 none;
    box-shadow:5px 5px 15px -2px rgba(0,0,0,0.46);
    border-radius: 0.4rem;
    padding: 1rem;

}

.inputUser:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.botao-enviar{
    border-radius: 1rem;
    border: none;
    margin-top: 1rem;
    padding: 1rem 1.4rem 1rem 1.4rem;
    background-color: #6765be;
    color: white;

}