.container{
    display: flex;
    justify-content: space-around;
    /* background-image: url("./imgBackground.png"); */
    background-position: top left;
    background-attachment: scroll;
    flex-wrap: wrap;
    /* background-repeat: no-repeat; */
    /* background-size: 21rem; */



    /* background: url("/public/images/imgBackground.png"); */

}

