.card {
    width: 12.5rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.1rem;
    box-shadow: -1px 5px 7px 0px rgba(0,0,0,0.63);
    margin-bottom: 2rem;
}

.card:hover {
    transform: scale(1.12);
    box-shadow: -1px 5px 7px 0px #6F6BFA;
    

}

.imgCard {
    width: 10rem;
}

.info-card {
    text-align: center;
    padding: 1rem;
}